@using CalendarWebAppV2.Models.HomeViewModels
@model IndexVM;

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .banner {
        height: 425px;
        background-image: url(../imgs/calendarPic1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="text-center">
    @*Banner*@
    <div class="banner"></div>

    @*App description*@
    <div class="jumbotron">
        <h2 class="display-4">Calendar Bookings</h2>
        <p class="lead">A calendar-like management system for scheduling and maintaining appointments with multiple clients. Specify your availability and others will be able to book appointments within those times.</p>
        <hr />
        <p>To get started with the demo and view examples of users and their calendar, please click below.</p>
        <a class="btn btn-primary" asp-controller="Hosts" asp-action="Index">View Demo</a>
    </div>

    

</div>
