@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your privacy is important, and so this app has been created so that you only need to provide your first name and email address to create an account.</p>
